* {
	box-sizing: border-box;
}

html, body {
	width: 100%; height: 100%;
}

body {
	font-family: 'Helvetica';
	font-size: 4em;
}

.clock {
	
}

.outer-shell {
	position: absolute;
	width: 80%;
	background-color: darkgray;
	left: 10%;
	border-radius: 10px;
}

.inner-shell {
	background-color: black;
	width: 80%;
	margin: 10%;
	padding: 5px;

}

.labels {
	display: inline-block;
	color: white;
	font-size: .25em;
	margin: 10px, 0;
}

.labels ul {
	list-style: none;
	text-align: right;
	padding: 0;
	margin: 20px 10px;
}

.screen {
	display: inline-block;
	position: relative;
	background-color: darkred;
	border-radius: 5px;
	width: 80%;
	margin: 20px 0 0px;
	text-align: center;
}

.indicator {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 5px;
	color: red;
	font-size: .25em;

}

.text {
	display: inline-block;
	color: red;
}

.am-freq ul, .fm-freq ul {
	color: white;
	font-size: .25em;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 12px;
}

.am-freq li {
	display: inline-block;
	width: 10%;
}

.fm-freq li {
	display: inline-block;
	width: 11.5%;
}
